body {
    background: linear-gradient(#7d0f40, #ff65a3);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    
}

h1 {
    text-align: center;
    font-size: 48px;
    color: rgb(222, 124, 125);
    margin-top: 20px;
}

p {
    text-align: center;
    font-size: 18px;
    color: rgb(222, 124, 125);
    margin: 10px 0 30px 0;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

h3 {
    text-align: center;
    font-size: 28px;
    color: #333;
    margin-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
 
}

.container {
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    color: #4A90E2;
    text-decoration: none;
    margin: 10px;
    display: inline-block;
    margin-top: 10px;
}

a:hover {
    color: #333;
    text-decoration: underline;
}

.links {
    display: inline-block;
    margin-top: 20px;
}

.box {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 60px;
    background: linear-gradient(#7d0f40, #bb5a86);
    border-radius: 30px;
    z-index: -1;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.box2 {
    top: 117px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 40px;
    background-color: rgb(116, 9, 56);
    border-radius: 30px;
    z-index: -1;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.sosmed {
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    color: #2c0422;
    text-decoration: none;
    margin: 90px;
    display: inline-block;
    margin-top: 10px;
}

.basic-button {
    background-color: rgb(116, 9, 56);
    color: rgb(175, 23, 64);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.basic-button:hover {
    background-color: rgb(222, 124, 125);
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}